{% extends 'base.html' %}

{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure_desc }}</h1>
    {% set amount_tours = tours_on_departure|length %}
    <p class="mb-4">Найдено {{ amount_tours }} тур, от {{ min_price_tour }} до {{ max_price_tour }} и от
      {{ min_night_tour }} ночей до {{ max_night_tour }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_id in tours_on_departure %}
        <div class="col-4">
          <div class="card mb-4">
            <img src="{{ tours_on_departure[tour_id].picture }}" class="card-img-top img-fluid" alt="" width="300" height="200">
            <div class="card-body">
              <h2 class="h5 card-title">{{ tours_on_departure[tour_id].title }}</h2>
              <p class="card-text">{{ tours_on_departure[tour_id].description|truncate(100)}} </p>
              <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}